:root {
  --main-color: #102636;
  --accent-color: #6180AE;
  --text-color: #000;
  --headline-color: #FFF;

}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.bioImage, .eduImage, .expImage, .projectsImage {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bioImage::before, .eduImage::before, .expImage::before, .projectsImage::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.3);
  }

.bioDescription, .eduDescription, .expDescription, .projectsDescription, .contactDescription {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 1vmin;
  text-align: center;
  color: var(--text-color);
  background-color: rgba(255,255,255,0.5);

}


body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: var(--text-color);
}

p, h1, h2 {
	color: black;
	font: 1.5vmin "Lato", sans-serif;

}

h1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font: 10vmin "Lato", sans-serif;
  color: var(--headline-color);
  text-shadow: #000 0px 0 20px;

}

h2 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font: 5vmin "Lato", sans-serif;
  color: var(--headline-color);
  text-shadow: #000 0px 0 20px;
}

h3 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font: 3vmin "Lato", sans-serif;
  color: var(--text-color);
}

h4 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font: 2vmin "Lato", sans-serif;
  color: var(--text-color);
}

label{
  letter-spacing: 2px;
  text-transform: uppercase;
  font: 2vmin "Lato", sans-serif;
  color: var(--text-color);
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
}

input, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--accent-color);
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;

}

button{
	color: var(--headline-color);
    background-color: var(--accent-color);
    padding: 0.25em 1em 0.2em 1em;
    border: 1px solid var(--accent-color);
    cursor: pointer;
	
}

.content {
	color: var(--text-color);
	background-color:white;
	text-align:center;
	padding: 3vmin 25vmin;
	text-align: justify;
}

.bioImage {
  background-image: url("images/Biography.jpg");
  min-height: 100%;
}

.eduImage {
  background-image: url("images/Education.jpg");
  min-height: 400px;
}

.expImage {
  background-image: url("images/Experience.jpg");
  min-height: 400px;
}

.projectsImage {
  background-image: url("images/Projects.jpg");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: var(--text-color);
}


/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 5vmin;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 0.5vmin;
  background-color: var(--main-color);
  top: 0;
  bottom: 0;
  left: 1vmin;
  margin-left: -0.25vmin;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: white;
  width: 60vmax;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 2.5vmin;
  height: 2.5vmin;
  background-color: var(--main-color);
  border: 0.75vmin solid transparent;
  top: 2vmin;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the right */
.right {
  left: 2vmin;
}
.current::after {
  background-color: var(--accent-color);
  border: 0.75vmin solid var(--main-color);
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 3vmin;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #C0C0C0;
  border-width: 10px 10px 10px 0;
  border-color: transparent #C0C0C0 transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -3vmin;
}

.contentTimeline {
  padding: 20px 30px;
  background-color: #C0C0C0;
  position: relative;
  border-radius: 6px;
}

.contentTimeline a{
	text-decoration: none;
	color: var(--accent-color);
}

.contentTimeline li{
	color: black;
	font: 1.5vmin "Lato", sans-serif;

}

.contentTimeline ul{
  margin: 0 0;
  padding: 0 1em;
  list-style: none;
}

.contentTimeline li::before { 
  content: "";
  border-color: transparent var(--accent-color);
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: block;
  height: 0;
  width: 0;
  left: -1em;
  top: 0.9em;
  position: relative;
}

/* Turn off parallax scrolling for tablets and phones */
@media (pointer:none), (pointer:coarse) {
  .bioImage, .eduImage, .expImage, .projectsImage {
    background-attachment: scroll;
  }
  
 .bioImage {
  min-height: 100vmin;
}

.eduImage {
  min-height: 40vmin;
}

.expImage {
  min-height: 40vmin;
}

.projectsImage {
  min-height: 40vmin;
} 
  
p {
	font: 2.5vmin "Lato", sans-serif;
}

.contentTimeline li{
	font: 2.5vmin "Lato", sans-serif;

}

.content {
	padding: 3vmin 5vmin;

}

.container {
  width: 75vmin;
}

}